# Import Libraries

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when

# Initialize a Spark session

In [2]:
# Initialize a Spark session
spark = SparkSession.builder.appName("BreweryDataPipeline").getOrCreate()

25/03/15 16:15:03 WARN Utils: Your hostname, Ubuntu24 resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/03/15 16:15:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/vinicius/anaconda3/envs/pysparkenv/lib/python3.13/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
25/03/15 16:15:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark

## Data Base Insights

In [4]:
df = spark.read.json("data_architecture/bronze_layer_raw_data.json")

In [32]:
df.count()

50

In [5]:
df.printSchema()

root
 |-- address_1: string (nullable = true)
 |-- address_2: string (nullable = true)
 |-- address_3: string (nullable = true)
 |-- brewery_type: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- id: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- state: string (nullable = true)
 |-- state_province: string (nullable = true)
 |-- street: string (nullable = true)
 |-- website_url: string (nullable = true)

# Check if some columns are iqual

### street and addrees_1

In [23]:
df.select('id','name', 'street', 'address_1')\
    .withColumn('street_adress_1', 
        when(
            (col('street') == col('address_1'))|
            (col('street').isNull() & col('address_1').isNull()), 1).otherwise(0))\
    .show(200)

+--------------------+--------------------+--------------------+--------------------+---------------+
|                  id|                name|              street|           address_1|street_adress_1|
+--------------------+--------------------+--------------------+--------------------+---------------+
|5128df48-79fc-4f0...|    (405) Brewing Co|      1716 Topeka St|      1716 Topeka St|              1|
|9c5a66c8-cc13-416...|    (512) Brewing Co|407 Radam Ln Ste ...|407 Radam Ln Ste ...|              1|
|34e8c68b-6146-453...|1 of Us Brewing C...| 8100 Washington Ave| 8100 Washington Ave|              1|
|6d14b220-8926-452...|10 Barrel Brewing Co|       62970 18th St|       62970 18th St|              1|
|e2e78bd8-80ff-4a6...|10 Barrel Brewing Co|1135 NW Galveston...|1135 NW Galveston...|              1|
|e432899b-7f58-455...|10 Barrel Brewing Co| 1411 NW Flanders St| 1411 NW Flanders St|              1|
|ef970757-fe42-416...|10 Barrel Brewing Co|           1501 E St|           1501 E St|              1|
|9f1852da-c312-42d...|10 Barrel Brewing...|    62950 NE 18th St|    62950 NE 18th St|              1|
|ea4f30c0-bce6-416...|10 Barrel Brewing...|    826 W Bannock St|    826 W Bannock St|              1|
|1988eb86-f0a2-467...|10 Barrel Brewing...|      2620 Walnut St|      2620 Walnut St|              1|
|1ecc330f-6275-42a...|10 Torr Distillin...|         490 Mill St|         490 Mill St|              1|
|7531dbd8-afc9-4b5...|10-56 Brewing Com...|       400 Brown Cir|       400 Brown Cir|              1|
|5ae467af-66dc-4d7...|101 North Brewing...| 1304 Scott St Ste D| 1304 Scott St Ste D|              1|
|4ffda196-dd59-44a...| 105 West Brewing Co|        1043 Park St|        1043 Park St|              1|
|42aa37d5-8384-4ff...|         10K Brewing|        2005 2nd Ave|        2005 2nd Ave|              1|
|232e8f62-9afc-45f...|10th District Bre...|   491 Washington St|   491 Washington St|              1|
|08f78223-24f8-4b7...|11 Below Brewing ...|   6820 Bourgeois Rd|   6820 Bourgeois Rd|              1|
|58293321-14ae-49d...|     1188 Brewing Co|       141 E Main St|       141 E Main St|              1|
|e5f3e72a-fee2-481...|12 Acres Brewing ...|      Unnamed Street|      Unnamed Street|              1|
|d81ff708-b5d2-478...|12 Gates Brewing ...|80 Earhart Dr Ste 20|80 Earhart Dr Ste 20|              1|
|fb94830f-6196-4f5...|12 West Brewing C...|3000 E Ray Rd Bldg 6|3000 E Ray Rd Bldg 6|              1|
|0faa0fb2-fffa-416...|12 West Brewing C...|                null|                null|              1|
|e54c2f02-acd6-417...| 122 West Brewing Co|    2416 Meridian St|    2416 Meridian St|              1|
|d5cb896d-3e99-4e1...|         127 Brewing|     3090 Shirley Dr|     3090 Shirley Dr|              1|
|06e9fffb-e820-45c...|    12Degree Brewing|         820 Main St|         820 Main St|              1|
|50521ef7-f543-4c5...|12welve Eyes Brewing|141 E 4th St Ste LL2|141 E 4th St Ste LL2|              1|
|950180bd-29c9-46b...|    13 Below Brewery|      7391 Forbes Rd|      7391 Forbes Rd|              1|
|45119c56-345b-4ad...|  13 Stripes Brewery|250 Mill St, Suit...|250 Mill St, Suit...|              1|
|936c3d7e-5d54-445...|13 Virtues Brewin...|6410 SE Milwaukie...|6410 SE Milwaukie...|              1|
|5c53b314-ebab-4e3...|          1323 R & D|1323 Capital Blvd...|1323 Capital Blvd...|              1|
|4788221a-a03b-458...|14 Cannons Brewin...|31125 Via Colinas...|31125 Via Colinas...|              1|
|b7b68d22-5045-450...|    14 Lakes Brewery|                null|                null|              1|
|4b677b60-fef1-42e...|14er Brewing Company|      2801 Walnut St|      2801 Walnut St|              1|
|6c53984f-fac1-4ea...|   14th Star Brewing| 133 N Main St Ste 7| 133 N Main St Ste 7|              1|
|85192a9c-58a4-48c...|     16 Lots Brewing|      753 Reading Rd|      753 Reading Rd|              1|
|284b44f8-6ccb-4cd...|  16 Mile Brewing Co|    413 S Bedford St|    413 S Bedford St|              1|
|ee6d39c6-092f-462...|    16 Stone Brewpub|        9542 Main St|        9542 Main St|              1|
|d35b40b0-a3ff-487...|1623 Brewing CO, llc|1146 colonel Josh...|1146 colonel Josh...|              1|
|84bd3b3c-bd2d-4e0...|     1717 Brewing Co|     322 E Court Ave|     322 E Court Ave|              1|
|f41a0c47-ba9b-454...|1718 Ocracoke Bre...|1129 Irvin Garris...|1129 Irvin Garris...|              1|
|84d621c4-81a5-44e...|1781 Brewing Company|      11109 Plank Rd|      11109 Plank Rd|              1|
|896f26a1-d80e-479...|      180 and Tapped|    2010 A State Ave|    2010 A State Ave|              1|
|46839a79-b7bf-473...|        1817 Brewery|100 B South Olive St|100 B South Olive St|              1|
|1a1b2165-73ed-40a...|1840 Brewing Company|       342 E Ward St|       342 E Ward St|              1|
|fe6b9893-b93e-43d...|1850 Brewing Company|                null|                null|              1|
|b51f3cdf-60ff-4ae...| 18th Street Brewery|     5725 Miller Ave|     5725 Miller Ave|              1|
|add7f978-942e-4d5...| 18th Street Brewery|     5417 Oakley Ave|     5417 Oakley Ave|              1|
|dbde8235-2b55-4d8...|1905 Brewing Company|  1301 S Chestnut St|  1301 S Chestnut St|              1|
|4f4b5b34-d572-4df...|        1912 Brewing|2045 N Forbes Blv...|2045 N Forbes Blv...|              1|
|4ccad9b9-f9cf-4d2...|         192 Brewing|    7324 NE 175th St|    7324 NE 175th St|              1|
+--------------------+--------------------+--------------------+--------------------+---------------+

### state and state_province

In [34]:
df.select('id','name', 'state', 'state_province')\
    .withColumn('state_state_province', 
        when(
            (col('state') == col('state_province'))|
            (col('state').isNull() & col('state_province').isNull()), 1).otherwise(0))\
    .show(200)

+--------------------+--------------------+--------------+--------------+--------------------+
|                  id|                name|         state|state_province|state_state_province|
+--------------------+--------------------+--------------+--------------+--------------------+
|5128df48-79fc-4f0...|    (405) Brewing Co|      Oklahoma|      Oklahoma|                   1|
|9c5a66c8-cc13-416...|    (512) Brewing Co|         Texas|         Texas|                   1|
|34e8c68b-6146-453...|1 of Us Brewing C...|     Wisconsin|     Wisconsin|                   1|
|6d14b220-8926-452...|10 Barrel Brewing Co|        Oregon|        Oregon|                   1|
|e2e78bd8-80ff-4a6...|10 Barrel Brewing Co|        Oregon|        Oregon|                   1|
|e432899b-7f58-455...|10 Barrel Brewing Co|        Oregon|        Oregon|                   1|
|ef970757-fe42-416...|10 Barrel Brewing Co|    California|    California|                   1|
|9f1852da-c312-42d...|10 Barrel Brewing...|        Oregon|        Oregon|                   1|
|ea4f30c0-bce6-416...|10 Barrel Brewing...|         Idaho|         Idaho|                   1|
|1988eb86-f0a2-467...|10 Barrel Brewing...|      Colorado|      Colorado|                   1|
|1ecc330f-6275-42a...|10 Torr Distillin...|        Nevada|        Nevada|                   1|
|7531dbd8-afc9-4b5...|10-56 Brewing Com...|       Indiana|       Indiana|                   1|
|5ae467af-66dc-4d7...|101 North Brewing...|    California|    California|                   1|
|4ffda196-dd59-44a...| 105 West Brewing Co|      Colorado|      Colorado|                   1|
|42aa37d5-8384-4ff...|         10K Brewing|     Minnesota|     Minnesota|                   1|
|232e8f62-9afc-45f...|10th District Bre...| Massachusetts| Massachusetts|                   1|
|08f78223-24f8-4b7...|11 Below Brewing ...|         Texas|         Texas|                   1|
|58293321-14ae-49d...|     1188 Brewing Co|        Oregon|        Oregon|                   1|
|e5f3e72a-fee2-481...|12 Acres Brewing ...|         Laois|         Laois|                   1|
|d81ff708-b5d2-478...|12 Gates Brewing ...|      New York|      New York|                   1|
|fb94830f-6196-4f5...|12 West Brewing C...|       Arizona|       Arizona|                   1|
|0faa0fb2-fffa-416...|12 West Brewing C...|       Arizona|       Arizona|                   1|
|e54c2f02-acd6-417...| 122 West Brewing Co|    Washington|    Washington|                   1|
|d5cb896d-3e99-4e1...|         127 Brewing|      Michigan|      Michigan|                   1|
|06e9fffb-e820-45c...|    12Degree Brewing|      Colorado|      Colorado|                   1|
|50521ef7-f543-4c5...|12welve Eyes Brewing|     Minnesota|     Minnesota|                   1|
|950180bd-29c9-46b...|    13 Below Brewery|          Ohio|          Ohio|                   1|
|45119c56-345b-4ad...|  13 Stripes Brewery|South Carolina|South Carolina|                   1|
|936c3d7e-5d54-445...|13 Virtues Brewin...|        Oregon|        Oregon|                   1|
|5c53b314-ebab-4e3...|          1323 R & D|North Carolina|North Carolina|                   1|
|4788221a-a03b-458...|14 Cannons Brewin...|    California|    California|                   1|
|b7b68d22-5045-450...|    14 Lakes Brewery|     Minnesota|     Minnesota|                   1|
|4b677b60-fef1-42e...|14er Brewing Company|      Colorado|      Colorado|                   1|
|6c53984f-fac1-4ea...|   14th Star Brewing|       Vermont|       Vermont|                   1|
|85192a9c-58a4-48c...|     16 Lots Brewing|          Ohio|          Ohio|                   1|
|284b44f8-6ccb-4cd...|  16 Mile Brewing Co|      Delaware|      Delaware|                   1|
|ee6d39c6-092f-462...|    16 Stone Brewpub|      New York|      New York|                   1|
|d35b40b0-a3ff-487...|1623 Brewing CO, llc|      Maryland|      Maryland|                   1|
|84bd3b3c-bd2d-4e0...|     1717 Brewing Co|          Iowa|          Iowa|                   1|
|f41a0c47-ba9b-454...|1718 Ocracoke Bre...|North Carolina|North Carolina|                   1|
|84d621c4-81a5-44e...|1781 Brewing Company|      Virginia|      Virginia|                   1|
|896f26a1-d80e-479...|      180 and Tapped|  Pennsylvania|  Pennsylvania|                   1|
|46839a79-b7bf-473...|        1817 Brewery|   Mississippi|   Mississippi|                   1|
|1a1b2165-73ed-40a...|1840 Brewing Company|     Wisconsin|     Wisconsin|                   1|
|fe6b9893-b93e-43d...|1850 Brewing Company|    California|    California|                   1|
|b51f3cdf-60ff-4ae...| 18th Street Brewery|       Indiana|       Indiana|                   1|
|add7f978-942e-4d5...| 18th Street Brewery|       Indiana|       Indiana|                   1|
|dbde8235-2b55-4d8...|1905 Brewing Company|      Illinois|      Illinois|                   1|
|4f4b5b34-d572-4df...|        1912 Brewing|       Arizona|       Arizona|                   1|
|4ccad9b9-f9cf-4d2...|         192 Brewing|    Washington|    Washington|                   1|
+--------------------+--------------------+--------------+--------------+--------------------+

# New Data Frame with Only the usefull columns and with a more intuitive position columns

In [37]:
df_new = df\
    .select('id', 'name', 'country', 'state', 'city', col("address_2").alias("village"),
            'postal_code', 'street','latitude', 'longitude','phone','brewery_type','website_url')

# Qual o melhor critério de localização para particionar os dados?

In [42]:
df_new.groupby('country').count().show(200, False)

+-------------+-----+
|country      |count|
+-------------+-----+
|United States|49   |
|Ireland      |1    |
+-------------+-----+

In [43]:
df_new.groupby('state').count().show(200, False)

+--------------+-----+
|state         |count|
+--------------+-----+
|Minnesota     |3    |
|Ohio          |2    |
|Oregon        |6    |
|Texas         |2    |
|Pennsylvania  |1    |
|Vermont       |1    |
|Nevada        |1    |
|Washington    |2    |
|Illinois      |1    |
|Oklahoma      |1    |
|Delaware      |1    |
|Michigan      |1    |
|Virginia      |1    |
|North Carolina|2    |
|Maryland      |1    |
|Arizona       |3    |
|Iowa          |1    |
|Massachusetts |1    |
|Mississippi   |1    |
|Indiana       |3    |
|Idaho         |1    |
|South Carolina|1    |
|California    |4    |
|New York      |2    |
|Wisconsin     |2    |
|Laois         |1    |
|Colorado      |4    |
+--------------+-----+

In [47]:
df_new.write.partitionBy("state").parquet('data_architecture/silver_data.parquet')

In [48]:
#

In [53]:
silver_df = spark.read.parquet('data_architecture/silver_data.parquet')
aggregated_df = silver_df.groupBy("state", "brewery_type").count()
golden_df = aggregated_df.withColumnRenamed('count', 'brewery_quantity')

In [55]:
golden_df.show()

+--------------+------------+----------------+
|         state|brewery_type|brewery_quantity|
+--------------+------------+----------------+
|          Iowa|       micro|               1|
|    California|       micro|               2|
|     Minnesota|       micro|               3|
|        Oregon|       large|               4|
|      Virginia|       micro|               1|
|    California|       large|               1|
|        Nevada|       micro|               1|
|      Colorado|     brewpub|               1|
|      Michigan|       micro|               1|
|       Vermont|       micro|               1|
|         Texas|       micro|               2|
|      Delaware|       micro|               1|
|         Laois|       micro|               1|
|    Washington|      closed|               1|
| Massachusetts|       micro|               1|
|North Carolina|       micro|               1|
|      Colorado|  proprietor|               1|
|          Ohio|     brewpub|               1|
|       Indiana|       micro|               3|
|       Arizona|       micro|               3|
+--------------+------------+----------------+
only showing top 20 rows